<!-- 
File Name: arthur_bringup.launch

Team Name: Team 4, Hipster 

Author(s): Kaushik Balasundar 

Team Members: Kaushik Balasundar, Anthony Kyu, Gunjan Sethi, Sundaram Seivur, Parker Hill

High Level Description: Starts the all vital functionalities for the ArThur System, except camera
Date of first revision: 28th April 2022 -->
<launch>

<!-- The only node not written is start_camera.launch since that requires you to enter the password -->

    <arg name="testing" default="False"/>

    <!-- Start kortex_driver -->
    <include file="$(find kortex_driver)/launch/kortex_driver.launch"/>

    <!-- Start perception node -->
    <include file="$(find arthur_perception)/launch/registration.launch">
        <arg name="testing" value="$(arg testing)"/>
    </include>

    <include file="$(find arthur_online_calibration)/launch/online_calibration.launch"/>

    <!-- Start reaming pose broadcaster -->
    <node pkg="hipster_gui" type="reaming_endpt_broadcaster.py" name="reaming_end_point_broadcaster" />

    <!-- Start arduino serial node -->
    <!-- <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" port="/dev/ttyACM0"/> -->

    <!-- Start watchdog and arm controller -->
    <include file="$(find kortex_control)/launch/priority_control.launch"/>

</launch>


