<?xml version="1.0"?>
<launch>
    <node pkg="kortex_control" type="tf_listener" name="base_to_ee_marker_frame_tf_listener" output="screen" >
        <param name="source_frame" value="base_link" />
        <param name="target_frame" value="ee_marker_frame" />
    </node>

    <node pkg="kortex_control" type="tf_listener" name="ee_marker_to_camera_tf_listener" output="screen" >
        <param name="source_frame" value="ee_marker" />
        <param name="target_frame" value="camera" />
    </node>

    <node pkg="arthur_online_calibration" type="arthur_online_calibration" name="arthur_online_calibration" output="screen" />

</launch>